#jwbp_bundle .bundle-block {
    margin-top: 10px;
}
#jwbp_bundle .variant.bundle:first-child {
    border-top: solid 1px #f0f0f0;
}
#jwbp_bundle button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    cursor: pointer;
    background: 0 0;
    color: inherit;
    font: inherit;
    text-align: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#jwbp_bundle .variant.bundle {
    text-transform: inherit;
    display: table;
    min-height: 28px;
    padding-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    background: #fff;
    width: 100%;
    color: #000;
    letter-spacing: -.5px;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: inset 0 -1px 0 0 #f0f0f0;
}
#jwbp_bundle .active-checkbox {
    display: none;
}
#jwbp_bundle .variant.bundle::after, #jwbp_bundle .variant.bundle::before {
    content: "";
    border-radius: 8px;
    border: 1px solid;
    transform: translateY(-50%);
    position: absolute;
    width: 16px;
    height: 16px;
    display: block;
    right: 0;
    top: 50%;
    box-sizing: border-box;
    transition: all 250ms cubic-bezier(.86, 0, .07, 1);
}
#jwbp_bundle .variant.bundle::before {
    background-image: url(https://cdn.shopify.com/s/files/1/0255/0218/7600/t/17/assets/check.png);
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    opacity: 0;
}
#jwbp_bundle .variant.bundle.is-active::before {
    opacity: 1;
    background-color: #000;
}
#jwbp_bundle .variant.bundle .image-wrap {
    display: table-cell;
    vertical-align: top;
    width: 50px;
}
#jwbp_bundle .variant.bundle .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
#jwbp_bundle .variant.bundle .title-wrap {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
#jwbp_bundle .variant.bundle span.title {
    vertical-align: top;
    display: block;
    vertical-align: middle;
}
#jwbp_bundle .bundle-title {
    font-weight: 700;
    letter-spacing: .2px;
}
#jwbp_bundle .variant.bundle span.title .price {
    float: right;
    font-size: 16px;
    margin: 0 20px 0 10px;
}
#jwbp_bundle .variant.bundle span.title .price .value {
    display: inline-block;
}
#jwbp_bundle .variant.bundle span.bundle-description {
    display: block;
    font-size: 14px;
    color: #595959;
    letter-spacing: -.5px;
    line-height: 18px;
    position: relative;
    padding-right: 104px;
}
#jwbp_bundle .variant.bundle span.bundle-description .desc-btn {
    float: right;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    right: 20px;
}
#jwbp_bundle .variant.bundle span.bundle-description a {
    text-transform: uppercase;
    text-decoration: underline;
    color: #595959;
    font-size: 11px;
    letter-spacing: -.1px;
    line-height: 15px;
}